<mat-card>
	<mat-card-title>Novo Produto</mat-card-title>
	<div class="createProduto">
		<form>
			<mat-form-field>
				<input
					matInput
					placeholder="nome"
					[(ngModel)]="produto.nome"
					name="name"
					required
				/>
			</mat-form-field>
			<mat-form-field>
				<input
					matInput
					placeholder="preço (R$)"
					[(ngModel)]="produto.price"
					name="price"
				/>
			</mat-form-field>
			<input type="file" accept="image/*" (change)="onChange($event)" id="addImage" />
			<label class="lblInput" for="addImage">adicione uma imagem</label>
		</form>
        <mat-card class="previewCreate">
            <img [src]="url " alt="">
        </mat-card>
	</div>
	<button class="btnSaveProduto" mat-raised-button (click)="createProduct()">
		salvar
	</button>
	<button mat-raised-button (click)="cancel()">cancelar</button>
</mat-card>
