.header{
    display: flex;
    height: 5rem;
    background: var(--myBlack);
    color: var(--myWhite);
    & a{
        display: flex;
        align-items: center;
    }
    & .logo{
        max-height: 4rem;
    }
    & .logo:hover{
        transition: ease-in-out 0.5s;
        filter: drop-shadow(0 0 1.5rem var(--myMidRed));
    }
}
.title-group {
    padding: 0 0 0 2rem;
    display: flex;
    flex-grow: 1;
    & i{
        padding: 0 1.5rem 0 0;
    }
}
.cart{
    display:flex;
    flex-grow: 0;
    align-content: center;
    justify-content: center;
    & a{
        text-decoration: none;
        color: var(--myWhite);
    }
}
