<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="">
            <img class="logo" src="assets/img/logo.png" alt="imagem logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="">
            <i class="material-icons">
                home
            </i>
            BLUE BAT
        </a>
    </span>
    <span class="cart">
        <a routerLink="produtos/wish-list">
            <i class="material-icons">
                shopping_cart
            </i>
            <div class="number">
                <span>{{totalItens}}</span>
            </div>
            wish list
        </a>
    </span>
</mat-toolbar>
