.sidenav{
    background: var(--myDarkRed);
    width: 10rem;
    & a{
        color: var(--myWhite);
    }
    & i{
        padding: 0 1rem 0 0;
    }
}
.content{
    padding: 1rem;
    background: var(--myWhite);
}