.sidenav{
    background: var(--myDarkRed);
    width: 10rem;
    & a{
        color: var(--myWhite);
    }
    & i{
        padding: 0 1rem 0 0;
    }
}

.content{
    padding: 1rem;
    background: var(--myWhite);
}

.closeNav{
    background: var(--myDarkRed);
    color: white;
    margin: 0 0 0.75rem 0;
}

.loadSpinner{
    width: 100%;
    transform: translate(45%, 50%);
    position: fixed;
    z-index: 10;
}