<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
    fixedInViewport="true" fixedTopGap="80">
    <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            inicio
        </a>
        <a mat-list-item routerLink="/produtos">
            <i class="material-icons">
                store
            </i>
            bat store
        </a>
        <a mat-list-item routerLink="/login"
        (click)="outOrIn()">
            <i class="material-icons">
                login
            </i>
            login
        </a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container> 