.sidenav{
    height: 100%;
    background: #b53f3f;
    width: 10rem;
    & a{
        color: whitesmoke;
    }
    & i{
        padding: 0 1rem 0 0;
    }
}
.content{
    padding: 1rem;
    background: #fff;
}