<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" [(opened)]="opened"
    fixedInViewport="true">
    <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            inicio
        </a>
        <a mat-list-item routerLink="/produtos">
            <i class="material-icons">
                store
            </i>
            bat store
        </a>
        <a mat-list-item routerLink="/login">
        <i class="material-icons">
            login
        </i>
        login
    </a>
    <a mat-list-item (click)="outOrIn()">
            <i class="material-icons">
                logout
            </i>
            logout
        </a>
        <a mat-list-item routerLink="/about">
            <i class="material-icons">
                question_mark
            </i>
            about
        </a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
        <button mat-raised-button class="closeNav" (click)="opened=!opened">
            <i class="material-icons">menu</i>
        </button>
        <div *ngIf="load.isLoading | async" class="loadSpinner">
            <mat-spinner mode="indeterminate" color="warn"></mat-spinner>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container> 