table{
    width: 100%;
}

.imgMain{
    width: 3rem;
    border-radius: 5px;
}

.edit {
    margin: 0.5rem;
    & > i{
    color: #d9cd26;
    }
}
.delete > i{
    cursor: pointer;
    color: #e35e6b;
}