.header{
    display: flex;
    height: 5rem;
    background: #373737;
    color: #ffffff;
    & a{
        display: flex;
        align-items: center;
    }
    & .logo{
        max-height: 4rem;
    }
}
.title-group {
    padding: 0 0 0 2rem;
    display: flex;
    flex-grow: 1;
    & i{
        padding: 0 1.5rem 0 0;
    }
}
.cart{
    display:flex;
    align-items: flex-end;
    flex-grow: 0;
}
