.updateDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    & .inputImage {
        display: none;
    }
}

#lblArquivo{
    background: var(--myDarkRed);
    border-radius: 5px;
    box-shadow: 0 0 0.3rem var(--myDarkRed), (inset 0 0 6px black);
    text-align: center;
    width: 50%;
    font-weight: bold;
    color: var(--myWhite);
    letter-spacing: 0.1rem;
    text-shadow: 0 0 2px var(--myMidRed);
}
#lblArquivo:active{
    background: var(--myMidRed);
}

mat-form-field {
    width: 80%;
    padding: 0.75rem;
}

.preview {
    margin: 0.5rem 1rem 0 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    & img {
        border-radius: 5px;
        height: 10rem;
        width: 10rem;
        filter: drop-shadow(0 0 1rem);
    }

    box-shadow: inset 0 0 5rem;
}

.btnsUpdate {
    margin: 0.75rem 0 0 3rem;
    & button {
        margin: 0 0.5rem 0 0;
    }
}