<mat-card>
	<mat-card-title>Atualizar {{produto.nome}}</mat-card-title>
	<div class="updateDiv">
		<form>
			<mat-form-field class="form-griup">
				<input
					matInput
					placeholder="nome"
					value="{{produto.nome}}"
					name="nome"
				/>
			</mat-form-field>
			<mat-form-field>
				<input
					matInput
					type="text"
					class="form-control"
					suffix="$"
					placeholder="preço (R$)"
					value="{{produto.price | mask: 'separator':'.'}}"
					name="price"
				/>
			</mat-form-field>
			<input
				class="inputImage"
				type="file"
				accept="image/*"
				(change)="compress()"
				id="inputImg"
				name="image"
			/>
			<label id="lblArquivo" for="inputImg"
				>escolher imagem do produto</label
			>
		</form>
		<mat-card class="preview" *ngIf="url && url !== ''">
			<img
				[src]="url"
				name="image"
				alt="imagem aqui"
			/>
		</mat-card>
	</div>
	<div class="btnsUpdate">
		<button mat-raised-button (click)="updateProduto()" color="primary">
			salvar
		</button>
		<button mat-raised-button (click)="cancel()">cancelar</button>
	</div>
</mat-card>
