<div class="body">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            WELLCOME!!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            PRINCIPAIS PRODUTOS
        </mat-card-subtitle>
    </mat-card>
    <div class="prod">
        <mat-card class="mat-elevation-z3" *ngFor="let prod of produtos">
            <mat-card-title>
                {{prod.nome}}
                <button mat-raised-button color="primary">
                    <i class="material-icons">
                        add
                    </i>
                </button>
            </mat-card-title>
            <img class="imgProd" src="{{prod.image}}">
            <mat-card-subtitle>R$ {{prod.price}}
                <span class="material-icons">
                    stars
                </span>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
