.home {
    margin: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    & .title {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
    }
}

.home .subtitle {
    font-size: 1.2rem;
}

.prod {
    margin: 0 0 5rem 0;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & mat-card {
        max-width: 18rem;
        max-height: 30rem;
        position: relative;
        padding: 0.5rem;
        margin: 0.75rem;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    & mat-card-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & button {
            margin: 0 0 0 0.5rem;
        }
    }

    & mat-card-subtitle {
        display: flex;
        align-items: center;
        margin: 1rem 0 0 0;
        font-weight: bold;

        & span {
            margin: 0 0 0 0.5rem;
            box-shadow: inset 0 0 10px rgb(161, 202, 10);
            border: 2px solid rgb(0, 0, 0);
            background: yellow;
            border-radius: 50%;
        }
    }
}

.imgProd {
    width: 8rem;
    height: 8rem;
}

@media (max-width: 900px) {
    .prod {
        margin: 0 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
        & mat-card {
            margin: 0 0 0 0;
            max-width: 10rem;
            max-height: 15rem;
            font-size: 10px;
        }
    }
    .imgProd {
        width: 5rem;
        height: 5rem;
    }
}