<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>
                Project Bats Comerce
            </h1>
            Este projeto foi realizado com o objetivo de aumentar os conhecimentos relacionados á AngularJS,
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Este Projeto foi criado por Felipe Batista da Silva para:
    </mat-card-content>
    <mat-card-content>
        <ul class="info">
            <li>
                VER MAIS PROJETOS
                <a class="github" href="https://github.com/Felipeb26" target="_blank">
                    <fa-icon [icon]="iconGitHub"></fa-icon>
                    <p>GITHUB</p>
                </a>
            </li>
            <li>
                ENTRAR EM CONTATO
                <a class="linkedin" href="https://www.linkedin.com/in/felipebatista-silva/" target="_blank">
                    <fa-icon [icon]="iconLinkedin"></fa-icon>
                    <p>LINKEDIN</p>
                </a>
            </li>
            <li>
                ENTRAR EM CONTATO
                <a class="email" href="mailto:felipeb2silva@gmail.com" target="_blank">
                    <fa-icon [icon]="iconEmail"></fa-icon>
                    <p>EMAIL</p>
                </a>
            </li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        Este projeto esta sobre a MIT license para mais informações sobre o projeto
        <fa-icon [icon]="iconArrow"></fa-icon>
        <a href="https://github.com/Felipeb26/bats-comerce" target="_blank">bats-comerce</a>
    </mat-card-footer>
</mat-card>