<mat-card>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-form-field>
            <label>email:</label>
            <input matInput class="form-control" type="email" name="email" id="email" [(ngModel)]="login.email" required>
        </mat-form-field>
        <mat-form-field>
            <label>senha:</label>
            <input matInput class="form-control" type="password" name="senha" id="senha" [(ngModel)]="login.senha" required>
        </mat-form-field>
    </form>
    <button class="btn-block" mat-raised-button type="submit" [disabled]="form.form.invalid"
    (click)="onSubmit()">ENTRAR</button>
    <button class="display" mat-raised-button (click)="showAbout()">VEJA MAIS</button>
</mat-card>
<div id="about">
    <app-about></app-about>
</div>